.idea/
/gradle.properties
*.iml
.gradle
PartyAppAndroid/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
PartyAppAndroid/build
/captures
.externalNativeBuild
/Firebase/node_modules/
/Firebase/functions/node_modules/
/PartyAppAndroid/app/libs/
