
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: drf.config.settings.production
    PYTHONPATH: "./drf"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: drf/config/wsgi.py
    StaticFiles: "/static/=www/static/"

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

packages:
  yum:
    postgresql95-devel: []
