container_commands:
  01_collectstatic:
    Command: "python manage.py collectstatic --noinput"
  02_migrate:
    Command: "python manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    Command: "python manage.py createsu"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "config.settings.production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "config/wsgi.py"

packages:
  yum:
    postgresql95-devel: []